<div class="alert alert-warning"> 
    <strong>Note:</strong> The backend side is complete, but this frontend page is currently under construction. Some features may not be fully functional. You can test the APIs functionality using <strong>Swagger</strong> in <strong>Home</strong> Page.
</div>

@model IEnumerable<AccountViewModel>
@{
    ViewData["Title"] = "Accounts";
}

<h2>Accounts</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Account Number</th>
            <th>Balance</th>
            <th>Account Type</th>   
            <th>Overdraft limit</th>
            <th>Interest Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Account in Model)
        {
            <tr>
                <td>@Account.Id</td>
                <td>@Account.AccountHolderName</td>
                <td>@Account.AccountNumber</td>
                <td>@Account.Balance</td>
                <td>@Account.AccountType</td>
                <td>@Account.OverdraftLimit</td>
                <td>@Account.InterestRate</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@Account.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
