@model IEnumerable<TransactionViewModel>
@{
    ViewData["Title"] = "Transactions";
}

<div class="alert alert-warning mt-4">
    <strong>Note:</strong> The backend side is complete, but this frontend page is currently under construction. Some features may not be fully functional. You can test the APIs functionality using <strong>Swagger</strong> in <strong>Home</strong> Page.
</div>

<div class="container mt-4">
    <h2 class="text-center text-white">Transactions</h2>
    <table class="table table-dark table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Trans Code</th>
                <th>Account ID</th>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>Timestamp</th>
                <th>Reciever Account ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.Id</td>
                    <td>@transaction.TransCode</td>
                    <td>@transaction.AccountId</td>
                    <td>@transaction.TransactionType</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Timestamp</td>
                    <td>@transaction.RecieverAccountId</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@transaction.Id" method="post" onsubmit="return confirmDeletion();" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onsubmit="return confirm('Are you sure you want to delete this account?');">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
